@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

@font-face {
	
  font-family: ADAMCG;
  src: url("Fonts/ADAMCG.otf");
}
@font-face {
	
  font-family: Quicksand;
  src: url("Fonts/Quicksand_Dash.otf");
}
body {
    padding:0px;
    margin:0px;
	background:linear-gradient(-45deg,rgba(50,0,0,0.75),rgba(25,0,25,0.15)),url("Projects/Others/Clay.jpg") no-repeat center center;
    background-size:cover;
    width:100vw;
    height:100vh;
    overflow:hidden;
    font-family: 'Josefin Sans','Acme', 'Work Sans' ,sans-serif;
}
#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgb(5, 5, 5);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width:50px;
    height:50px;
    border:12px solid #fff;
    border-bottom:12px solid rgb(255, 50, 50);
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
#box {
    width:100vw;
    height:100vh;
    z-index:9;
    position:fixed;
    top:0;
}
#box div {
    width:16.66vw;
    height:100%;
    display:inline-block;
}
.box1 {
    background:rgb(255, 50, 50);
}
.box2 {
    background:rgb(255, 50, 50);
    margin-left:-5px;
}
#collapser {
	display:flex;
    flex-direction: column;
    justify-content:center;
	width:45px;
	height:45px;
	font-size:25px;
	text-align: center;
	z-index: 9;
	color:#fff;
	position: fixed;
    align-items: center;
	top:0;
	left:0;
	background: transparent;
}
#collapser:hover {
	background: rgba(255,50,50,1)
}
#menu {
    width:100%;
    text-align:center;
    margin:6vh 0px;
    display:none;
}
#menu a {
    margin:0px 6%;
    font-size:19px;
    color:#fff;
}
#middle {
    width:100vw;
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
	align-items: center;
    position:fixed;
    top:0;
    text-align:center;
    z-index:1;
    color:#fff;
    padding-bottom:10vh;
}
#middle h1 {
	transition: text-shadow 1s;
    color:rgb(255, 50, 50);
	font-family: 'ADAMCG';
    font-size:70px;
}
#middle h1:hover {
	text-shadow: 0 0 10px;
}
#about {
    width:10vw;
    height:5vw;
    text-align:center;
    font-size:15px;
	transform:rotate(-90deg);
    background:transparent;
    color:#FFF;
    position:fixed;
    left:-2.5vw;
    bottom:45vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px;
}
#other {
    width:10vw;
    height:5vw;
    text-align:center;
    font-size:15px;
	transform:rotate(90deg);
    background:transparent;
    color:#fff;
    position:fixed;
    right:-2.5vw;
    bottom:45vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px;
}
#work {
    width:10vw;
    height:5vw;
    text-align:center;
    font-size:15px;
    transform:rotate(0deg);
    background:white;
    color:black;
    position:fixed;
    bottom:0;
	left:45vw;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:100px 100px 0px 0px;
}
#about:hover {
    background:rgba(0,0,0,0.25);
	border-bottom: 3px solid rgb(255,50,50);
    cursor:pointer;
}
#other:hover {
    background:rgba(0,0,0,0.25);
	border-bottom: 3px solid rgb(255,50,50);
    cursor:pointer;
}
#work:hover {
    background:black;
	color:white;
	border-top: 3px solid rgb(255,50,50);
    cursor:pointer;
}
#middle table {
    width:30%;
    margin:6vh auto;
}
#middle table tr td {
    text-align:center;
}
#other_container {
	font-size: calc(8px + 1vw);
}
#other_container h1 {
	font-family: 'ADAMCG';
}
#other_container h2 {
	font-family: Calibri, 'Work Sans';
	font-size: calc(8px + 1vw);
}
#other_container p {
	font-family: 'Work Sans';
	font-size: 21px;
}
#about_container {
	font-size: calc(8px + 1vw);
}
#about_container h1 {
	font-family: 'ADAMCG';
}
#about_container h2 {
	font-family: Calibri, 'Work Sans';
	font-size: calc(8px + 1vw);
}
#about_container p {
	font-family: 'Work Sans';
	font-size: 21px;
}
#work_container {
	background:black;
	height: 100vh;
	width: 100vw;
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}
#work_container a:visited{
	text-decoration: none;
}
#work_container div {
	margin:0;
}
#work_container div:hover {
	cursor: default;
}
#work_container h1 {
	font-family: 'ADAMCG';
	font-size: calc(24px + 1.5vw);
}
#work_container h3 {
	font-size: 15px;
}
.misc {
	display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 45vh 45vh 45vh 45vh;
    grid-gap: 3vh;
}
.misc object{
	border: 1px solid rgb(217,217,217);
	padding: 10px;
	width: 100%;
    height: 100%;
    object-fit: cover;
	box-sizing: border-box;
	box-shadow: 1px 5px 5px gainsboro;
}
.misc object:nth-child(1) {
	grid-row-start: 2;
	grid-row-end: 4;
}
.misc object:nth-child(2) {
	grid-row: 3;
	grid-column-start:3;
	grid-column-end: 5;
}
.misc object:nth-child(5) {
	grid-column-start: 4;
	grid-row-start: 1;
	grid-row-end: 3;
}
.misc object:nth-child(6) {
	grid-row: 1;
	grid-column-start: 2;
	grid-column-end: 4;
}
.misc object:nth-child(7) {
	grid-row-start: 3;
	grid-row-end: 5;
}
#screen {
	display: flex;
	justify-content: center;
	position: absolute;
	height: 42vh;
	min-width: 70vh;
	bottom: 45vh;
	background: black;
	border-radius: 15px;
}
#screenvid {
	object-fit: contain;
	position: absolute;
	width: 98%;
	height: 100%;
}
video {
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.video {
	width: 100%;
	position: absolute;
	top: 45px;
	bottom: 0px;
	display: flex;
	justify-content: center;
	background: transparent;
}
.cardvid {
	object-fit: contain;
	object-position: bottom;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 5vh;
}
#P1{
	background: url("Projects/1.jpg") center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#P2{
	background: url("Projects/2.jpg") center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#P3{
	background: url("Projects/3.png") center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#P4{
	background: url("Projects/4.jpg") center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#P5{
	background: url("Projects/5.jpg") center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#tree{
	background: url("Projects/Tree.gif") bottom center;
	background-repeat: no-repeat;
	background-size: contain;
}
#bird{
	background: url("Projects/Bird.gif") bottom center;
	background-repeat: no-repeat;
	background-size: contain;
}
#fruits{
	background: url("Projects/Fruits.gif") bottom center;
	background-repeat: no-repeat;
	background-size: contain;
}
#opening{
	background: transparent;
}
#flourish{
	background: transparent;
}
#scroll{
	background: transparent;
}
#green{
	background: transparent;
}
#fall{
	background: transparent;
}
#red{
	background: transparent;
}
.Zbr {
	background: url("Icons SVG/Zbr.svg") no-repeat center center;
	background-size: contain;
}
.Maya {
	background: url("Icons SVG/Maya.svg") no-repeat center center;
	background-size: contain;
}
.Max {
	background: url("Icons SVG/Max.svg") no-repeat center center;
	background-size: contain;
}
.Ps {
	background: url("Icons SVG/Ps.svg") no-repeat center center;
	background-size: contain;
}
.Ae {
	background: url("Icons SVG/Ae.svg") no-repeat center center;
	background-size: contain;
}
.Pr {
	background: url("Icons SVG/Pr.svg") no-repeat center center;
	background-size: contain;
}
.MEn {
	background: url("Icons SVG/MEn.svg") no-repeat center center;
	background-size: contain;
}
.Acad {
	background: url("Icons SVG/Acad.svg") no-repeat center center;
	background-size: contain;
}
.Dw {
	background: url("Icons SVG/Dw.svg") no-repeat center center;
	background-size: contain;
}
.H5 {
	background: url("Icons SVG/H5.svg") no-repeat center center;
	background-size: contain;
}
.C3 {
	background: url("Icons SVG/C3.svg") no-repeat center center;
	background-size: contain;
}
.Rhino {
	background: url("Icons SVG/Rhino.svg") no-repeat center center;
	background-size: contain;
}
.Ai {
	background: url("Icons SVG/Ai.svg") no-repeat center center;
	background-size: contain;
}
.Id {
	background: url("Icons SVG/Id.svg") no-repeat center center;
	background-size: contain;
}
.project {
	display: flex;
	flex-direction: column;
	scroll-snap-align: center;
	height: 100vh;
	width: 100%;
}
.p_section {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	scroll-snap-align: center;
	height: 100vh;
	width: 100vw;
	background:rgba(50,50,50,1.00);
}
.heading{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 45px;
	height: 45vh;
	width: 100%;
	color: white;
	background:linear-gradient(-45deg,rgba(0,25,25,0.40),rgba(0,0,35,0.40)),url("Projects/Others/Colors head.jpg") no-repeat center center;
	background-size: cover;
}
.heading p{
	font-family: 'Work Sans';
	text-align: justify;
	font-size: calc(0.75vh + 0.575vw);
	line-height: calc(1.1vh + 0.9vw);	
	-webkit-text-stroke: 0.35px;
}
.footing{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 30vh;
	color: white;
	background:linear-gradient(-45deg,rgba(0,25,25,0.40),rgba(0,0,35,0.40)),url("Projects/Others/Colors foot.jpg") no-repeat center center;
	background-size: cover;
}
.footing a{
	color: white;
	text-decoration: none;
}
@keyframes invert {
	0% {filter: none;}
	100% {filter: invert();}
}
.precard {
	text-align: center;
	padding: 0px 2.75vw;
	justify-content: center;
	align-items: center;
	position: relative;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: rgb(217, 217, 217);
	color: black;
}
.precard:hover {
	background: white;
}
.precard div{
	height:35%;
	width:35%;
	animation: scale 1s ease-in-out infinite alternate;
	-webkit-animation: scale 1s ease-in-out infinite alternate;
	filter: invert();
}
.precard p{
	font-family: 'Work Sans';
	text-align: justify;
	font-size: calc(0.75vh + 0.575vw);
	line-height: calc(1.1vh + 0.9vw);
	-webkit-text-stroke: 0.35px;
}
#pre1 {
	background: url("Projects/Full.png") no-repeat center center;
	background-size: contain;
	
}
#pre2 {
	background: url("Projects/Space.png") no-repeat center center;
	background-size: contain;
	animation-delay: 0.33s;
}
#pre3 {
	background: url("Projects/ScrollB.png") no-repeat center center;
	background-size: contain;
	animation-delay: 0.66s;
}
.card {
	position: relative;
	flex: 1 1 auto;
	padding:3vh 2.75vw 0px 2.75vw;
	display: flex;
	flex-direction: column;
	width: 100%;
	background: rgba(217,217,217,1);
	overflow: hidden;
	box-sizing: border-box;
}
.cardwop {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	background: rgba(217,217,217,1);
	overflow: hidden;
}
.card h2{
	font-family: calibri, 'acme';
	text-transform: uppercase;
	font-size: calc(8px + 1vw);
	
}
.card p{
	font-family: 'Work Sans';
	text-align: justify;
	font-size: calc(0.75vh + 0.575vw);
	line-height: calc(1.1vh + 0.9vw);
}
.cardwop h2{
	font-family: calibri, 'acme';
	text-transform: uppercase;
	font-size: calc(8px + 1vw);
	
}
.cardimg {
	display: flex;
	position: absolute;
	top:45px;
	left: 5vh;
	right: 5vh; 
	height: 45vh;
	z-index: 1;
}
.card:hover {
	background: white;
}
.achuk_card {
	width: 100%;
	max-height: 100vh;
	color: white;
	position: relative;
	padding: 0px 5vh 5vh 5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.awraper{
	padding: 25px 0px 25px 0px;
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	background:black;
}
.arow {
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	display: flex;
}
.acell {
	height: 11.25vw;
	width: 20vw;
	padding:0px 20px 0px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.acell video {
	height: 11.25vw;
	width: 20vw;
	object-fit: contain;
	object-position: center;
	border: 1px solid #FBB019;
}
.oswald{
  font-family : Oswald;
  color: white;
  font-size: 35px;
  cursor:default;  
}
.Alogo {
	height: 7vw;
	width: 20vw;
	padding:0px 20px 0px 20px;
	object-fit: contain;
	object-position: center;
	background: url("Projects/achuk logo.png") no-repeat center center;
	background-size: contain;
}
object {
	height:100%;
	width:100%;
	object-fit: cover;
}
.p_header {
	display: flex;
	flex-direction: row-reverse; 
	width:100%;
	height:45px;
	background:black;
}
.p_header p{
	color: white;
	padding: 5px 25px 0px 0px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}
.overlay {
	display: flex;
	position: absolute;
	left: 5vh;
	right: 5vh;
	bottom: 5vh;
	height: 52.5vh;
	background: white;
}
.Ininfo {
	display: flex;
	position: absolute;
	right:5vh;
	top:10vh;
	bottom: 5vh;
	width: 30%;
	background: white;
}
.InGra {
	display: flex;
	position: absolute;
	left:5vh;
	top:10vh;
	bottom: 5vh;
	width: 60%;
	background: url("Projects/IntensityGr.gif") no-repeat center center;
	background-size: contain;
}
.graphic {
	height: 100%;
	width: 100%;
}
#In {
	background:url("Projects/IntensityWF.png") no-repeat center center;
	background-size: contain;
}
.HBwrap {
	width: 100%; display:flex; padding:5vh; justify-content: space-between;
}
.HBcol {
	display: flex;
	background: white;
}
#HB1 {
	background:url("Projects/HB1.jpeg") no-repeat center center;
	background-size: cover;
}
#HB2 {
	background:url("Projects/HB2.jpg") no-repeat center center;
	background-size: cover;
}
#HB3 {
	background:url("Projects/HB3.jpeg") no-repeat center center;
	background-size: cover;
}
#HB4 {
	background:url("Projects/HB4.jpg") no-repeat center center;
	background-size: cover;
}
#HB5 {
	background:url("Projects/HB5.jpg") no-repeat center center;
	background-size: cover;
}
#HB6 {
	background:url("Projects/HB6.gif") no-repeat center center;
	background-size: contain;
}
#HB7 {
	background:url("Projects/HB7.gif") no-repeat center center;
	background-size: contain;
}
#HB8 {
	background:url("Projects/HB8.png") no-repeat center center;
	background-size: contain;
}
#HB9 {
	background:url("Projects/HB9.png") no-repeat center center;
	background-size: contain;
}
#HB10 {
	background:url("Projects/HB10.png") no-repeat center center;
	background-size: contain;
}
#under_screen {
	display: flex;
	position: absolute;
	left: 5vh;
	right: 5vh;
	bottom: 20vh;
	height: 52.5vh;
	background: url("Projects/Map.png") no-repeat center bottom;
	background-size: contain;
}
#glow {
	display: flex;
	position: absolute;
	justify-content: center;
	bottom: 31vh;
	width: 5vh;
	height: 5vh;
	border-radius: 50%;
    background-color: #fff;
    box-shadow:
        0 0 30px 15px #fff,
        0 0 50px 30px #f0f,
        0 0 70px 45px #0ff; 
	animation: glow 75s infinite;
	animation-play-state: inherit;
	z-index: 100;
}
@keyframes glow {
	0% {opacity: 0;}
	13% {opacity: 0;}
	13.5% {opacity: 1;}
	14% {opacity: 0;}
	59.5% {opacity: 0;}
	60% {opacity: 1;}
	60.5% {opacity: 0;}
	100% {opacity: 0;}
}
#under_screen_desc {
	display: flex;
	position: absolute;
	left: 5vh;
	right: 5vh;
	bottom: 5vh;
	height: 15vh;
	background: white;
}
#note {
	padding-left: 5vh;
	padding-right: 5vh;
}
#note p{
	margin: 0px;
}
.p_content {
	width: 100%;
	justify-content: center;
	display: flex;
	flex: 1 1 auto;
	background: transparent;
	animation-play-state: paused;
}
.p_contentC {
	height: 100%;
	width: 100%;
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	background: transparent;
}
.p_content:hover {
	animation-play-state: running;
}
.p_title {
	padding-bottom: 45px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: flex-end; 
	min-width: 45px;
	width: 45px;
	color: white;
	background: linear-gradient(-45deg,rgba(0,10,10,0.5),rgba(0,0,15,0.5)), url("PTitle.jpg");
}
.p_cont {
	display: flex;
	flex: 1 1 auto;
}
.p_cont-R {
	display: flex;
	flex-direction: row-reverse;
	flex: 1 1 auto;
}
.fill {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 100%;
}
.fillH {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1 100%;
}
.to_video {
	height: 10vh;
	width: 10vh;
	background: url("Projects/ScrollB.png") no-repeat center center;
	background-size: contain;
	animation: scale 1s ease-in-out infinite alternate;
	-webkit-animation: scale 1s ease-in-out infinite alternate;
}
.spaceicon {
	height: 10vh;
	width: 10vh;
	background: url("Projects/Space.png") no-repeat center center;
	background-size: contain;
	animation: scale 1s ease-in-out infinite alternate;
	-webkit-animation: scale 1s ease-in-out infinite alternate;
}
.infobox {
	color: white;
	background: rgba(0,0,0,0.35);
}
.infobox:hover{
	background: black;
}
.P {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
.inR {
	display: flex;
	flex-direction: column-reverse;
	flex: 1 1 auto;
}
.Text {
	padding-top:45px;
	padding-bottom:45px;
	display: flex;
}
.skillbar {
	display: flex;
	padding-left: 75px;
}
.skillsq {
	transition: filter 0.25s;
	filter: brightness(0) invert(1);
	min-height:51px;
	min-width:51px;
}
.skillsqA {
	min-height:51px;
	min-width:51px;
}
.skillbarA {
	display: flex;
}
.skillsq:hover {
	filter:none;
}
.infobox h2{
	font-size: 18px;
	font-family: 'work sans', calibri;
	text-align: justify;
	letter-spacing: 2.5px;
}
.infobox p{
	font-family: 'Quicksand';
	font-size: 1.65vh;
	text-align: justify;
	line-height: 1.75;
	letter-spacing: 1px;
	-webkit-text-stroke: 0.35px white;
}
.infobox a{
	transition: color 0.25s;
	color: white;
	text-decoration: none;
	letter-spacing: 1px;
	-webkit-text-stroke: 0.35px white;
}
.Brief {
	padding-left: 15px;
	display: flex;
	justify-content: center;
	min-width: 60px;
}
.Disc {
	width:355px;
	min-width:355px;
	padding: 0px 45px 0px 15px;
}
.container {
    width:90vw;
    height:90vh;
    padding:5vh 5vw;
    background:white;
    color:black;
    z-index:9;
    position:fixed;
    max-height:100vh;
	display:none;
	overflow-y:auto;
}
.container div {
    margin:20px 0px;
    transition:0.4s ease-in-out;
}
.container div:hover {
    cursor:pointer;
}
.container section {
    margin:8vh 0px;
}
.container h1 {
	text-decoration: none;
    font-size:60px;
}
.slider {
	height: 100%;
	width: 100%;
	display:flex;
	background:white;
	overflow-x: auto;
}
.slider::-webkit-scrollbar{
	height: 8px;
}
.slider::-webkit-scrollbar-track {
    background: gainsboro; 
}
.slider::-webkit-scrollbar-thumb {
    background: white;
	border: 1px solid gainsboro;
}
.slider::-webkit-scrollbar-thumb:hover {
    background: rgb(255,50,50);
}
.r_project {
	padding: 0px 2vh 2vh 2vh;
	display: grid;
	grid-template-rows: 5vh 28vh;
	grid-gap: 2vh;
}
.r_cell{
	display: flex;
	padding: 10px;
	height: 100%;
	min-width: 250px;
	width: 20vw;
	object-fit: cover;
	border: 1px solid rgb(217,217,217);
	box-sizing: border-box;
	box-shadow: 1px 5px 5px gainsboro;
}
.CAD{
	height:100%;
	width:100%;
}
#CAD1{
	background: url("Projects/CAD/1.jpg") no-repeat center center;
	background-size: cover;
}
#CAD1:hover{
	background: url("Projects/CAD/2.jpg") no-repeat center center;
	background-size: cover;
}
.r_project p{
	margin: 0px; 
	padding-left: 3vh; 
	display: flex; 
	align-items: center; 
	box-sizing: border-box; 
	font-family: 'work sans';  
	font-size: calc(8px + 0.5vw);
	height: 100%;
	border: 1px solid gainsboro;
}
.RestH {
	align-items: center;
	display:flex;
	height:10vh; 
	background: white;
}
.RestH h2{
	padding-left: 5vh;
	font-family: calibri, 'acme';
	text-transform: capitalize;
	font-size: calc(8px + 1vw);
}
.RestH p{
	padding-left: 5px;
	font-family: 'Work Sans';
	text-align: justify;
	font-size: calc(0.75vh + 0.575vw);
	line-height: calc(1.1vh + 0.9vw);
}
.navbar {
	transition: background 1s;
	position:fixed;
	top:0;
	z-index: 1;
	display: flex;
	width: 100%;
	height: 45px;
	background: transparent;
}
.navbar:hover {
	position:fixed;
	top:0;
	z-index: 1;
	display: flex;
	width: 100%;
	height: 45px;
	background: black;
}
.navbar ul {
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: center;
	
}
.navbar ul li {
	margin: 0 1rem;
	font-family: 'Josefin Sans';
}
.navbar ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}
.navbar ul li a:hover {
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(255,50,50);
}
::placeholder {
    color:#fff;
}
#particles-js {
    position:fixed;
    width:100vw;
    height:100vh;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: rgb(0,0,0); 
}
::-webkit-scrollbar-thumb {
    background: rgb(255,50,50); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(255,255,255); 
}
::selection {
	color: #fff;
	background: rgb(0, 0, 0);
}

@keyframes scale {
	0% {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	}
	100% {
	-webkit-transform: scale(1.0);
	transform: scale(1.0);
	}
}

@media (max-width: 800px){ 
    #about {
        display:none;
    }
    #work {
        display:none;
    }
	#other {
        display:none;
    }
    #middle {
        width:90vw;
        padding:0px 5vw;
    }
    #middle table {
        width:80%;
    }
    #menu {
        display:inline-block;
    }
    #onlywide {
        display:none !important;
    }
    .box2 {
        margin-left:0px !important;
    }
    #box div {
        width:100%;
    }
}